body {
    background-color: rebeccapurple;
}
.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
}

.box {
    padding: 20px;
    grid-row: 1;
}

.left {
    background-color: white;
    grid-column-end: 1;
}

.middle {
    background-color: white;
}

.right {
    background-color: white;
}

.bottom-left {
    background-color: white;
}

.bottom-middle {
    background-color: white;
    border: 5px green;
}

.bottom-right {
    background-color: white;
}