body {
    background-color: rebeccapurple;
}
.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "left middle right" "bottom-left bottom-middle bottom-right";
}

.bottom {

}

.right {
    grid-area: right;
    background-color: white;
    grid-row: 10;
    height: 400%;
}

.middle {
    grid-area: middle;
    background-color: white;
}

.left {
    grid-area: left;
    background-color: white;
}

.bottom-left {
    grid-area: bottom-left;
}

.bottom-middle {
    grid-area: bottom-middle;
}

.bottom-right {
    grid-area: bottom-right;
}