body {
    font-family: 'PT sans', sans-serif;
    font-style: italic;
}

.quote {
    display: inline-block;
    float: left;
    width: 10%;
    font-family: 'Palanquin Dark', sans-serif;
    color: #B4D4BA;
    font-size: 500px;
    margin: 0;
    padding-right: 5%;
    margin-right: 10%;
}

.text {
    display: inline-block;
    float: left;
    width: 75%;
    font-size: 60px;
    margin-top: 16%;
    text-align: center;
}

.link {
    display: inline-block;
    float: left;
    width: 100%;
    margin-left: 40%;
    margin-top: -20%;
    font-size: 60px;
}

a {
    text-decoration: none;
    color: #B4D4BA;
}

div {
    width: 90%;
    margin: auto;
}

img {
    width: 5%;
}